apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
data:
  setup.sql: |
    CREATE TABLE users (
      user_id SERIAL PRIMARY KEY,
      full_name VARCHAR(255),
      email VARCHAR(255),
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
      updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );
    ALTER TABLE users REPLICA IDENTITY FULL;
    INSERT INTO users (full_name, email) VALUES ('Khalid AI', 'khalid@example.com'), ('Jane Doe', 'jane@example.com');
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15
        env:
        - name: POSTGRES_PASSWORD
          value: "postgres"
        - name: POSTGRES_DB
          value: "inventory"
        args: ["-c", "wal_level=logical"]
        ports:
        - containerPort: 5432
        volumeMounts:
        - name: sql-init
          mountPath: /docker-entrypoint-initdb.d/
      volumes:
      - name: sql-init
        configMap:
          name: postgres-config
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  selector:
    app: postgres
  ports:
  - port: 5432
